html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: getColor(background);
  color: getColor(light-text);
  font-size: 1rem;
  font-family: $primary-typeface;
}

a {
  display: block;
  text-decoration: none;
  color: getColor(light-text);
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  color: #2c2c2c;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 3px;
}

.wrapper {
  flex: 1 0 auto;
}

header {
  background-image: url(../images/movie-watchlist.jpg);
  background-size: cover;
  background-position: center top;
  height: 25vh;
  position: relative;
}

.spinner-container {
  position: absolute;
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
}

.spinner {
  border: 0.2rem solid getColor(medium-light-text);
  border-top: 0.25rem solid transparent;
  margin: 0 auto;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
  color: black;
  border: 1px solid getColor(border);
  border-radius: 3px;
  text-align: center;
  font-size: 1.25rem;
}

.error {
  background-color: getColor(errorBg);
  color: getColor(errorText);
  border-color: getColor(errorBorder);
}
