button[disabled] {
  opacity: 0.5;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  display: none;
}

.page-btn {
  background-color: #2e2e2f;
  border: none;
  border-radius: 3px;
  color: getColor(medium-light-text);
  padding: 0.5rem 1rem;
  font-family: $primary-typeface;
  cursor: pointer;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-btn-show {
  display: flex;
}

.hide-btn {
  visibility: hidden;
}

.show-btn {
  visibility: visible;
} 