.fa-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: getColor(medium-light-text);
  font-size: 1.5rem;
}

.fa-star {
  color: #ffd700;
  font-size: 1rem;
}

.fa-plus-circle {
  color: getColor(light-text);
  font-size: 1rem;
}

.fa-film {
  font-size: 5rem;
  color: #2e2e2f;
}

.show-icon {
  display: block;
}

.hide-icon {
  display: none;
}

.plus-large {
  font-size: 1.5rem;
}