h1 {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

a {
  font-size: 1.5rem;
}

.search__msg {
  color: getColor(dark-text);
  font-size: 1.5rem;
  font-weight: 700;
}

.default-msg {
  color: getColor(dark-text);
}

.failed-msg {
  color: getColor(medium-dark-text);
}

#year-text {
  font-size: 1rem;
  color: getColor(medium-light-text);
}
