$primary-typeface: "inter", sans-serif;

$colors: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  danger: #dc3545,
  warning: #ffc107,
  info: #17a2b8,
  background: #121212,
  text: #fff,
  errorBg: #f8d7da,
  errorText: #721c24,
  errorBorder: #f5c6cb,
);

@function getColor($color) {
  @return map-get($colors, $color);
}
