$primary-typeface: "inter", sans-serif;

$colors: (
  cta: #F56469,
  background: #121212,
  light-text: #fff,
  medium-light-text: #a5a5a5,
  medium-dark-text: #787878,
  dark-text: #2c2c2c,
  errorBg: #f8d7da,
  errorText: #721c24,
  errorBorder: #f5c6cb,
);

@function getColor($color) {
  @return map-get($colors, $color);
}
