$primary-typeface: "inter", sans-serif;

$colors: (
  cta: #db474c,
  background: #121212,
  light-text: #fff,
  medium-light-text: #a5a5a5,
  medium-dark-text: #787878,
  dark-text: #2c2c2c,
  errorBg: #f8d7da,
  errorText: #721c24,
  errorBorder: #f5c6cb,
);

@function getColor($color) {
  @return map-get($colors, $color);
}

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
  xxLarge: 1400px,
  xxxLarge: 1600px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

$widths: (
  small: 90%,
  medium: 85%,
  large: 75%,
  xLarge: 65%,
  xxLarge: 55%,
  xxxLarge: 45%,
);

@function getWidth($width) {
  @return map-get($widths, $width);
}
